@charset "UTF-8";
@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: local("../fonts/Futura PT Medium"), local("FuturaPT-Medium"), url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("../fonts/Futura PT Book"), local("../fonts/FuturaPT-Book"), url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: local("../fonts/Futura PT Bold"), local("../fonts/FuturaPT-Bold"), url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* =======================
      COLORS
========================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position-y: 8rem;
  background-size: cover;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-weight: 20px;
  font-family: 'FuturaPT';
  background-color: #f9f9f9;
  color: #333333;
}

.btn {
  padding: 15px 50px;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
}

.sc-btn {
  padding: 5px;
  display: inline-block;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
  position: relative;
}

.sc-btn::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -24px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 23px;
  background-image: url(../images/icons/icon-paw.svg);
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.address__text,
.phone__number,
.work-schedule__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.address,
.phone,
.work-schedule {
  position: relative;
}

.address::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/i-house.svg);
}

.phone::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/i-phone.svg);
}

.work-schedule::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/icon-schedule.svg);
}

/* =======================
      STYLES
========================= */
.header {
  background-color: #f9f9f9;
}

.header-inner {
  display: flex;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

.header-top div {
  margin-left: 165px;
}

.header__phone ul,
.header__work-schedule ul {
  display: flex;
  align-items: center;
}

.header__nav {
  background-color: #fff;
  padding: 15px 0;
}

.phone li {
  margin-left: 22px;
  position: relative;
}

.phone li:first-child {
  margin-left: 0;
}

.phone li:first-child::before {
  display: none;
}

.phone li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -13px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 4px;
  height: 4px;
  background-image: url(../images/icons/dot.svg);
}

.nav {
  display: flex;
  position: relative;
}

.nav::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: contain;
  width: 178px;
  height: 87px;
  background-image: url(../images/logo.svg);
  cursor: pointer;
}

.nav ul {
  margin: 0 auto 0 335px;
  display: flex;
}

.nav ul li {
  margin-left: 55px;
}

.nav ul li:first-child {
  margin: 0;
}

.nav__link {
  display: inline-block;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
  position: relative;
}

.nav__link--active::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -30px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  background-image: url(../images/icons/icon-fish.svg);
}

.section-main {
  position: relative;
  padding: 150px 0;
}

.section-main::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
  width: 870px;
  height: 835px;
  background-image: url(../images/animals.png);
}

.section-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
  width: 235px;
  height: 430px;
  background-image: url(../images/bird.png);
}

.main-wrapper {
  display: flex;
  justify-content: flex-end;
}

.main-body {
  max-width: 610px;
  padding-bottom: 170px;
  align-items: flex-end;
}

.main-body__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
}

.main-body__title span {
  color: #78C0DE;
}

.main-body__text {
  color: #949494;
  line-height: 21px;
  max-width: 495px;
  margin-top: 29px;
}

.main-body__btn {
  background-color: #333333;
  margin-top: 38px;
}

/* =======================
      SECTION-MAIN END OF
========================= */
.quote {
  text-align: center;
  position: relative;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 210px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  background-image: url(../images/“.svg);
  transform: rotate(180deg);
}

.quote::after {
  content: "";
  position: absolute;
  bottom: 75px;
  right: 210px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  background-image: url(../images/“.svg);
}

.quote__text {
  width: 100%;
  color: #949494;
  font-size: 20px;
  line-height: 26px;
  max-width: 750px;
  padding: 43px 0 35px 0;
  margin: 0 auto;
  position: relative;
}

.quote__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  height: 1px;
  background-image: url(../images/quote-line.svg);
  right: 0;
  display: block;
  margin: 0 auto;
}

.quote__text::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  height: 1px;
  background-image: url(../images/quote-line.svg);
  left: 0;
  margin: 0 auto;
  display: block;
}

.quote__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-top: 35px;
}

/* =======================
  SECTION-QUOTE END OF
========================= */
.section-services {
  padding: 100px 0;
}

.services__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
}

.services__card-prev, .services__card-next {
  position: relative;
  top: 90px;
}

.services__card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 80px;
}

.services__card-inner {
  padding: 30px 35px;
  max-width: 193px;
  max-height: 201px;
  background-color: #fff;
  text-align: center;
}

.services__card-inner--active {
  height: 100%;
  max-height: 220px;
}

.services__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 21px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 42px 35px;
}

.slide__content {
  max-width: 490px;
}

.slide__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  margin-bottom: 9px;
}

.slide__text {
  color: #949494;
  padding-top: 9px;
}

.slide__price {
  background-color: #FFBD54;
  margin-top: 34px;
  margin-right: 20px;
}

.slide__sign-up {
  margin-top: 34px;
  background-color: #333333;
}

/* =======================
  SECTION-SERVICES END OF
========================= */
.section-subscription {
  position: relative;
  margin-top: 120px;
}

.section-subscription::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(../images/subscription-bg.png);
}

.subscription {
  padding: 90px 0;
  position: relative;
  margin-left: 260px;
}

.subscription::after {
  content: "";
  position: absolute;
  bottom: -67px;
  right: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 608px;
  height: 480px;
  background-image: url(../images/img-dog.png);
}

.subscription__title {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin-bottom: 32px;
}

.subscription__input {
  display: inline;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 18px 22px;
  background-color: #fff;
  width: 350px;
}

.subscription__input::placeholder {
  color: #949494;
}

.subscription__btn {
  background-color: #333333;
  margin-left: 21px;
}

/* ==========================
  SECTION-SUBSCRIPTION END OF
==============================*/
.section-articles {
  padding: 150px 0;
}

.article__title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.article__card {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article__card-content {
  padding: 0 30px 35px;
}

.article__card-inner1 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 305px;
  background-color: #fff;
}

.article__span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.article__card-date {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.article__card-tags {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #78C0DE;
}

.article__card-inner2 {
  display: flex;
  align-items: center;
  max-width: 640px;
  background-color: #fff;
}

.article__card-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
}

.article__card-info {
  color: #949494;
  margin-top: 15px;
}

.article__card-btn {
  margin: 30px 0 0 20px;
}

.article__text-box {
  padding: 10px 35px 35px 30px;
}

/* ==========================
SECTION-ARTICLES END OF
==============================*/
.section-feedback {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
}

.feedback {
  padding: 65px 0;
  background-image: url(../images/feedback-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.feedback__map {
  background-color: #eeeeee;
  width: 650px;
  height: 650px;
}

.feedback__inner {
  max-width: 375px;
  margin-left: 120px;
}

.feedback__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #fff;
  margin-bottom: 14px;
}

.feedback__info {
  color: #949494;
  margin-bottom: 30px;
}

.feedback__form input {
  display: block;
  padding: 16px 22px;
  width: 100%;
  margin-bottom: 14px;
}

.feedback__form input::placeholder {
  font-family: 'FuturaPT';
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.feedback__form textarea {
  display: block;
  width: 100%;
  height: 165px;
  padding: 16px 22px;
  resize: none;
  margin-bottom: 30px;
}

.feedback__form textarea::placeholder {
  font-family: 'FuturaPT';
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.feedback__btn {
  outline: none;
  border: none;
  background-color: #FFBD54;
}

/* ==========================
  SECTION-FEEDBACK END OF
==============================*/
.footer {
  background-color: #f3f3f3;
  padding: 60px 0 25px;
  margin-top: 200px;
}

.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__link {
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 14px;
  display: inline-block;
  color: #333333;
}

.footer__address {
  max-width: 135px;
}

.footer li {
  margin: 0;
}

.footer li::before {
  display: none;
}

.footer__bottom {
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  color: #5c5c5c;
  margin-top: 14px;
}
/*# sourceMappingURL=main.css.map */